* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #D5D6DA;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: red Solid 3px; */
}

.container__main {
  margin-top:20px;
  /* border: blue Solid 3px; */
  display: flex;
  flex-direction: column;
  flex:1;
  align-items: center;
  max-width: 1380px;
  margin-inline: auto;
  gap: 10px;
  position: relative;
}
.container__card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  /* border: red Solid 3px; */
}

.card {
  width: 10rem;
}

.card img {
  width: 10rem;
}

#sticky-footer {
  margin-top: 5rem;
  width: 100%;
  height: 70px;
}

form {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

form button {
  height: 35px;
}

input {
  height: 35px;
}


.container__newcat{
  margin-top: 100px;
  padding: 20px;
  width: 80vw;
  /* box-shadow: 2px 2px black; */
  border-radius: 20px;
}

.product_form {
  border-radius: 20px;
  /* border: purple Solid 2px; */
  /* box-shadow: 2px 2px blueviolet; */
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 95%;

  padding-left: 20px;
}

/* .product_form .form-group:nth-child(0) {
  background-color: red;
} */

#preview-image {
  border: black Solid 1px;

  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.datas_form_product {
  padding: 10px;
  /* border: orangered Solid 2px; */
  border-radius: 20px;
  /* box-shadow: 2px 2px black; */
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-promotions,
.form_description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_check_promotion,
.form_check_date,
.form_check_pourcentage {
  display: flex;
  align-items: center;
  gap: 20px;
}

#pourcentage {
  width: 20%;
}

#promotions {
  background-color: red;
  visibility: visible;
}

nav{
  background-color: #9a9b9c;
  margin-inline: 0;
  padding-block:1rem;
}
.nav{

  display: flex;
  align-items: center;

}

#url-selector{
  height: 2.5rem;
}

#deconnexion{

  background-color: #0B5ED7;
  color:white;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

video{
  margin-top: 20px;
  width: 600px;
  height: 300px;

}
h1,h3{
  color: #0B5ED7;
}

li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  Border: #0B5ED7 Solid 1px;
  list-style: none;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.catalogue{
  margin-left: 10px;
}