{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'content.css' %}" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <title> {% block title %}Welcome To Mercadona {%endblock%}</title>

</head>
<body>
    
    {% csrf_token %}
    {% block header %} {%endblock%}
    {% include 'mercadona_publicite/navbar.html' %}
    <div class="container__main">
        <div class="container__card">
            {% block content %} {%endblock%} 
        </div>
    </div>
    {% include 'mercadona_publicite/footer.html' %}
<script src="{% static 'app.js' %}"></script>

</body>
</html>

