{% extends 'mercadona_publicite/base.html' %}
{% load static %} 
{% block header%}
    <link rel="stylesheet" href="{% static 'promotion.css' %}" />
    <link rel="stylesheet" href="{% static 'content.css' %}" />
    <link rel="stylesheet" href="{% static 'card.css' %}" />
{%endblock%} 

{% block content%}

<div class="container_main">
    <h1> Tutoriel application Mercadona Publicite</h1>

    <ul>
        <li class="list-item">
            <h3>Se rendre sur l'application</h3>
            <video src="https://dev-passion76.fr/tuto_mercadona/01_rendre_appli_mercadona.mp4"controls></video>
            </li>

            <li class="list-item">
            <h3>Se connecter a l'application</h3>
            <video src="https://dev-passion76.fr/tuto_mercadona/02_se_connecter_application.mp4" controls></video>

            <li class="list-item">
            <h3>Ajouter un produit</h3>
            <video src="https://dev-passion76.fr/tuto_mercadona/03_ajouter_produit.mp4" controls></video>

            <li class="list-item">
            <h3>Modifier un produit</h3>
            <video src="https://dev-passion76.fr/tuto_mercadona/04_modifier_produit.mp4" controls></video>

            <li class="list-item">
            <h3>Ajouter une promotion</h3>
            <video src="https://dev-passion76.fr/tuto_mercadona/05_ajouter_promotions.mp4" controls></video>

            <li class="list-item">
            <h3>Supprimer un produit</h3>
            <video src="https://dev-passion76.fr/tuto_mercadona/06_supprimer_porduit.mp4" controls></video>

            <li class="list-item">
            <h3>Se Deconnecter de l'application</h3>
            <video src="https://dev-passion76.fr/tuto_mercadona/07_se_deconnecter_application.mp4" controls></video>

            <li class="list-item">
            <h3>Filtrer les Produit par categorie</h3>
            <video src="https://dev-passion76.fr/tuto_mercadona/08_filtrer_categorie.mp4" controls></video>
            </li>

            <li class="list-item">
            <h3>Ajouter une categorie</h3>
            <video src="https://dev-passion76.fr/tuto_mercadona/09_ajouter_categorie.mp4" controls></video>
        </li>
        <!-- Ajoutez d'autres éléments de liste similaires ici -->
    </ul>
</div>


{%endblock%}


